<div id="header-wrapper">
  <div id="header-left">
    <span id="logo-hn" [routerLink]="['/topstories']" routerLink="active"></span>
    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
    <a [routerLink]="['/newstories']" routerLink="active">New</a>
    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
    <a [routerLink]="['/beststories']" routerLink="active">Best</a>
    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
    <a [routerLink]="['/askstories']" routerLink="active">Ask</a>
    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
    <a [routerLink]="['/showstories']" routerLink="active">Show</a>
    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
    <a [routerLink]="['/jobstories']" routerLink="active">Jobs</a>
  </div>
</div>
