.feed-item-username,
.feed-item-comments-count {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
a{
  text-decoration: none;
}
.subtext {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 7pt;
    color: #828282;
}
.title {
	font-size: 120%;
}